<div class="navbar">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="navbar-logo">Messages App</span>
      <div class="btn-group">
        <button mat-button [routerLink]="['']">
          <mat-icon class="home-icon">home</mat-icon>
          Home
        </button>
        <button mat-button [routerLink]="['/messages']">
          <mat-icon class="message-icon">message</mat-icon>
          Messages
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>